

.mainTitle {
    text-align: center;
    padding: 15px;
}

#grid-container {
    
    display: grid;
    font-size: 10px;

}

.grid {
    background: white;
    border: 1px solid;
    width: 25px;
    height: 25px;
}

.black {
    background-color: black;
}

.button {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}